div.post-meta {
  text-decoration: none;
 }

div.container-sm {
  display: flex;
  justify-content: center;
  padding-left: 15%;
}
h1 {
  color: rgb(238, 167, 34);
}

img.card-img-top 
{
height: 12rem;
overflow: hidden;
}

body {
background-color: rgb(135, 222, 154);
}

img.card-img-bot
{
height: 15%;
width: 15%;
}

.card-reit{
font-size: small;
color: green
}


img.d-block {
height: 10rem;
width: 10rem;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: wheat;
}

div.card{
  width: 18rem;
  background-color: #ffffff;
}

.btn {
  text-decoration: none; /* Убираем подчёркивание */
 }

a {
  text-decoration: none;
 }
